@media (max-width: 1199.98px) {
  .section-hero__backgound-text-wrap {
    padding-bottom: 600px;
  }
  .section-pricing {
    margin: 20px 2%;
    background: #016fef;
  }
  .section-pricing__pricing-card {
    height: 600px;
    padding: 20px 20px;
  }
  .section-pricing__pricing-card.pro {
    height: 630px;
  }
  .section-blog__blog-card {
    margin-bottom: 40px;
  }
}
