@media (max-width: 991.98px) {
  .section-hero__experiance {
    flex-direction: column;
  }
  .section-hero__experience--experience-section.extend_1 {
    justify-content: center;
    align-items: center;
  }
  .section-hero__experience-number {
    text-align: center;
  }
  .section-hero__experience-des {
    text-align: center;
  }
  .section-hero__experience--experience-section {
    flex: 1;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 15px;
    border-bottom: 1px solid #dedede;
  }
  .section-keyfeature__card {
    margin-bottom: 20px;
  }
  .section-keyfeature__card-title {
    font-size: 20px;
  }
  .section-keyfeature__card {
    gap: 20px;
  }
  .section-keyfeature__card-des {
    font-size: 14px;
  }
  .section-pricing__pricing-card {
    margin-bottom: 20px;
  }
  .section-blog-insights__title {
    font-size: 36px;
  }
  .page-numbers {
    font-size: 14px;
    padding: 6px 12px;
  }
  /* model */
  .modal .forminput {
    width: 475px !important;
  }
  .modal .forminputtext {
    width: 475px !important;
  }
  .modal .formdrown {
    width: 475px !important;
  }
  .modal .file-upload-wrap {
    width: 475px !important;
  }
  .modal-content {
    width: 80%;
    border-radius: 30px;
    max-height: 62vh;
  }
  .section-pricing__pricing-card {
    height: 460px;
    padding: 20px 20px;
  }
  .section-pricing__pricing-card.pro {
    height: 490px;
  }
  .section-single-blog__title {
    font-size: 44px;
  }
}
