@charset "UTF-8";

body,
p,
li,
a,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  color: var(--primary-text-color);
}

html {
  scroll-behavior: smooth;
}
:root {
  --main-liner-color: linear-gradient(90deg, #1b59df 12.9%, #016fef 39.9%, #00baec 90.9%);
  --primary-text-color: #000;
  --secondary-text-color: #7f7f7f;
  --light-text-color: #fff;
  --primary-bg-color: #016fef;
}

.text-highlight {
  background: var(--main-liner-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.btn-highlight {
  /* display: inline-block; */
  padding: 10px 25px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-align: center;
  background: var(--main-liner-color);
}
.btn-highlight a {
  color: var(--light-text-color);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.block-highlight {
  display: block;
  text-align: center;
  background: var(--main-liner-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-bottom: 40px;
}
.tag-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}
.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--light-text-color);
}
.navbar .navbar-brand img {
  max-width: 230px;
  height: auto;
}

.logo-footer-desktop {
  max-width: 200px;
  height: auto;
}
.nav-link {
  color: var(--primary-text-color) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 16px 0px 16px !important;
}
.nav-link.active {
  font-weight: 700;
}

/* section-hero */

.section-hero {
  padding-top: 130px;
}

.section-hero__title {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.section-hero__des {
  color: #7f7f7f;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 40px;
  margin-bottom: 0px;
}
.section-hero__button-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.section-hero__backgound-text-wrap {
  position: relative;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-hero__background-text {
  color: rgba(217, 217, 217, 0.4);
  text-align: center;
  font-size: 170px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-top: 120px;
}
.section-hero__video-frame {
  z-index: 2;
  width: 100%;
  height: 100%;
}

.video-wrappner-inner {
  position: relative;
  width: 778px;
  height: 452px;
}

.section-hero__video {
  z-index: 3;
  position: absolute;
  width: 76.6%;
  height: 82.2%;
  transform: translate(-50%, -50%);
  top: 48.3%;
  left: 49.8%;
  object-fit: fill;
}

.video-wrapper {
  position: absolute;
  height: auto;
  top: 3%;
}

.section-hero__experiance {
  width: 100%;
  display: flex;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding-bottom: 0px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  position: relative;
}

.section-hero__experience--experience-section {
  flex: 1;
  border-right: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 15px;
}

.section-hero__experience--experience-section.extend_1 {
  flex: 1.2;
  border-left: none;
  display: flex;
  justify-content: end;
  align-items: end;
}

.section-hero__experience--experience-section.extend_2 {
  flex: 1.2;
  border-right: none;
}

.section-hero__experience-text {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0px;
}
.section-hero__experience-number {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-hero__experience-des {
  color: #7f7f7f;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
}

/* section-key-features */

.section-keyfeature {
  padding: 0px 0px 100px 0px;
}
.section-keyfeature__title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.section-keyfeature__des {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.section-keyfeature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 29px;
  border: 1px solid rgba(1, 111, 239, 0.17);
  background: #fff;
  border-radius: 20px;
  padding: 50px 0px 50px 0px;
}
.section-keyfeature__card-icon {
  height: 86px;
  width: auto;
}
.section-keyfeature__card-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-keyfeature__card-des {
  text-align: center;
}

/* section-pricing */

.section-pricing {
  margin: 80px 2%;
  padding: 40px 0px;
  border-radius: 20px;
  background: #016fef;
  position: relative;
}
.frame-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 202px;
  height: 335px;
}
.frame-2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 331px;
  height: 379px;
}
.frame-3 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 202px;
  height: 335px;
}
.frame-4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 331px;
  height: 379px;
}
.frame-6 {
  position: absolute;
  bottom: 0px;
  left: -5px;
  width: 110px;
  height: auto;
}
.frame-7 {
  position: absolute;
  top: 0px;
  right: -5px;
  width: 110px;
  height: auto;
}
.section-pricing__pricing-row.active {
  display: flex;
}
.section-pricing__pricing-row {
  display: none;
}
.section-pricing__svg {
  border-radius: 12.5px;
  background: rgba(111, 177, 255, 0.68);
  display: flex;
  width: 25px;
  height: 25px;
  padding: 7px;
  align-items: center;
}
.section-pricing__content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-pricing__tag-white-wrap {
  border-radius: 20px;
  background: #e5f1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5px 17.75px;
  gap: 8px;
  margin-bottom: 45px;
  z-index: 0;
}
.pricing__title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 114.975%;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.pricing__des {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 38px;
}
.section-pricing__toggle-btn-wrap {
  display: flex;
  align-items: center;
  border-radius: 40px;
  background: #fff;
  margin-bottom: 45px;
  justify-content: center;
  padding: 4px;
}
.section-pricing__sub-toggle-btn-wrap {
  background-color: var(--primary-bg-color);
}
.section-pricing__toggle-btn {
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  width: 240px;
}
.section-pricing__toggle-btn.active {
  background: var(--main-liner-color);
  display: flex;
  width: 240px;
  height: 70px;
  padding: 14px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 400;
  border-radius: 40px;
}

.section-pricing__license-row {
  display: none;
}
.section-pricing__license-row.active {
  display: flex;
}
.sub-toggle-btn {
  background-color: var(--primary-bg-color);
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
}
.sub-toggle-btn.active {
  color: #fff;
  position: relative;
}

.sub-toggle-btn.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 4%;
  width: 50%;
  height: 2px;
  background-color: #fff;
}
.section-pricing__section-title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 0px;
  padding: 30px 0px 60px 0px;
  text-align: center;
}
.section-pricing__feature-card {
  border-radius: 15px;
  background: #fff;
  display: flex;
  height: 287px;
  padding: 27px 25px;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}
.section-pricing__icon-wrap {
  display: flex;
  width: 61px;
  height: 61px;
  align-items: center;
  border-radius: 5px;
  background: #e3f0ff;
  justify-content: center;
}
.section-pricing__feature-card-title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-top: 18px;
  padding-bottom: 22px;
}
.section-pricing__feature-card-des {
  color: #5d5d5d;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section-pricing__zip-download-wrap {
  padding-top: 66px;
  justify-content: center;
  gap: 18px;
  display: flex;
  cursor: pointer;
}
.section-pricing__zip-download {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}
.section-pricing__feature-card-border {
  position: relative;
  z-index: 1;
  padding: 31px 38px;
  background: transparent;
  border-radius: 15px;
}

.section-pricing__feature-card-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(90deg, #1b59df, #016fef, #00baec);
  padding: 3px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.section-pricing__price-section-title {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0px;
}
.section-pricing__price-section-title span {
  font-size: 20px;
}
.section-pricing__price-section-title-wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 33px 0px;
}
.section-pricing__pricing-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* height: 346px; */
  border-radius: 15px;
  padding: 34px;
}
.section-pricing__pricing-card--number-round {
  width: 93px;
  height: 93px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 46.5px;
  background: rgba(109, 224, 255, 0.16);
  flex-wrap: wrap;
}
.section-pricing__pricing-card--number-round--number {
  margin-bottom: 0px;
  text-align: center;
  color: #016fef;
  font-size: 20px;
  font-weight: 600;
}
.section-pricing__pricing-card--number-round--text {
  margin-bottom: 0px;
  text-align: center;
  color: #016fef;
  font-size: 12px;
  font-weight: 600;
}
.section-pricing__pricing-card--first-row {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.section-pricing__pricing-card-title--1 {
  margin-bottom: 0px;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
.section-pricing__pricing-card-title--2 {
  margin-bottom: 0px;
  color: #5d5d5d;
  font-size: 16px;
  font-weight: 500;
}
.section-pricing__pricing-card-des {
  margin-bottom: 0px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}
.section-pricing__pricing-card-price {
  color: #1b59df;
  font-size: 96px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.section-pricing__pricing-card-getdimo {
  display: flex;
  gap: 18px;
  align-items: center;
}
.section-pricing__pricing-card-getdimo-text {
  color: #016fef;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  text-decoration: none;
  cursor: pointer;
}
.section-pricing__pricing-card-getdimo-icon-wrap {
  display: flex;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  border-radius: 12.5px;
  border: 2px solid #016fef;
  cursor: pointer;
  background: #fff;
}
/* faq */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
  margin-bottom: 30px;
}

.faq-card {
  background: #fff;
  padding: 40px 40px 20px 40px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.faq-card.active .faq-answer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-faq .question-text {
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
}
.faq-answer__answer-text {
  color: #fff;
  font-size: 16px !important;
  font-weight: 400;
  /* padding-bottom: 10px; */
}
.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  justify-content: space-between;
}

.arrow {
  transition: transform 0.3s ease;
  width: 14px;
  height: 14px;
}

.faq-card.active .arrow {
  transform: rotate(180deg);
}

.question-text {
  font-size: 20px;
  color: #000;
}
.answer-text {
  font-size: 18px;
  color: #000;
}

/* blog */
.section-blog {
  padding: 70px 0px;
}
.section-blog__blog-thumbnail img {
  width: 100%;
}
.section-blog__blog-date {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 8px 0px 8px 0px;
}
.section-blog__blog-title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.section-blog__blog-content {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.section-blog__blog-readmore {
  color: #016fef;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
  text-decoration: none;
}
/* section-blog-insights */
.section-blog-insights {
  padding-top: 130px;
}
.section-blog-insights__subscribe-input {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;
}

.section-blog-insights__subscribe-input input {
  width: 100%;
  padding-right: 100px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  border: 1px solid #989898;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
}

.section-blog-insights__subscribe-input button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
}

.section-blog-insights__subscribe-input button:hover {
  background-color: #0056b3;
}
/*  section-blog-insights-list*/
.section-blog-insights-list {
  padding-top: 0px;
  margin-top: -3%;
}
.section-blog-insights-list__bg-text {
  font-size: 170px;
  font-weight: 500;
  text-align: center;
  color: #d9d9d966;
}
.section-blog-insight-list__latest-blog-thumbnail {
  width: 90%;
}

.section-blog-insights-list__latest-blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-blog-insight-list__blog-thumbnail {
  width: 100%;
}
.section-blog-insights__title {
  font-size: 64px;
  font-weight: 700;
  color: #000;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 0px;
}
.section-blog-insights__des {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 0px;
}
.section-blog-insights-list__blogcard-first-row {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 20px;
}

.section-blog-insights-list__latest-blog-date {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.section-blog-insights-list__latest-blog-read-more {
  font-size: 20px;
  font-weight: 600;
  color: #016fef;
  text-decoration: none;
  cursor: pointer;
}
.section-blog-insights-list__blogcard-second-row {
  width: 100%;
  padding: 0px 5% 10px 5%;
}
.section-blog-insights-list__latest-blog-title {
  font-size: 32px;
  color: #000;
  margin-bottom: 0px;
  padding-bottom: 7px;
  font-weight: 500;
}
.section-blog-insights-list__latest-blog-des {
  color: #000;
  font-size: 15px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.section-blog-insights-list__tag-wrap {
  border: 1px solid #016fef;
  padding: 8px 20px;
  background: #eaf0ff;
  border-radius: 23px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.section-blog-insights-list__tag {
  font-size: 12px;
  color: #407bff;
  margin-bottom: 0px;
  text-decoration: none;
}
.section-blog-insights-list__blogcard-third-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 5% 130px 5%;
}
.section-blog-insights-list__title-all {
  color: #000000;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 60px;
  margin-bottom: 0px;
}
.section-blog-insights-list__blog-date {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding: 20px 0px;
}

.section-blog-insights-list__blogcard-third-row.all-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
}
.section-blog-insights-list__blogcard-third-row.v2 {
  font-size: 12px !important;
}
.section-blog-insights-list__blog-title {
  font-size: 24px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-weight: 500;
}
.section-blog-insights-list__blog-des {
  font-size: 12px;
  margin-bottom: 0px;
  color: #000;
  padding-bottom: 20px;
}
.section-blog-insights-list__blog-read-more {
  font-size: 15px;
  margin-bottom: 0px;
  color: #016fef;
  font-weight: 600;
  padding-top: 10px;
  text-decoration: none;
}

.section-blog-insights-list__blog-card {
  padding-bottom: 50px;
}

.section-blog-insights-list__blog-card.tagcard {
  padding-bottom: 50px;
  padding-top: 50px;
}

.section-blog-insights-list__pagination-number-wrap {
  width: 29px;
  height: 27px;
  background-color: #fff;
  border: 2px solid #016fef;
  padding: 2px;
  display: flex;
  justify-content: center;
  color: #016fef;
  size: 24px;
  margin: 5px;
  align-items: center;
  border-radius: 3px;
}
.section-blog-insights-list__pagination-number {
  color: #016fef;
  size: 24px;
  margin-bottom: 0px;
  font-weight: 500;
}
.section-blog-insights-list__pagination-number-wrap.active {
  width: 29px;
  height: 27px;
  background-color: #016fef;
  border: 2px solid #016fef;
  padding: 2px;
  display: flex;
  justify-content: center;
  color: #016fef;
  size: 24px;
  margin: 5px;
  align-items: center;
  border-radius: 3px;
}
.section-blog-insights-list__pagination-number.active {
  color: #fff;
  size: 24px;
  margin-bottom: 0px;
  font-weight: 500;
}

.section-blog-insights__tag {
  position: relative;
  padding: 60px 0px;
  background-color: #016fef;
  margin: 100px 0px 20px 0px;
}
.section-blog-insights__tag-title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.section-blog-insights-list__pagination-wrap {
  padding: 20px 0;
}

.page-numbers {
  display: inline-block;
  margin: 0 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #0b63e5;
  background-color: #fff;
  border: 2px solid #0b63e5;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.page-numbers.current {
  color: #fff;
  background-color: #0b63e5;
  border: 2px solid #0b63e5;
}

.page-numbers:hover {
  background-color: #f0f5ff;
  color: #0b63e5;
  border-color: #0b63e5;
}

.page-numbers.prev,
.page-numbers.next {
  font-weight: bold;
  background-color: #0b63e5;
  color: #fff;
  border-color: #0b63e5;
}

.page-numbers.prev:hover,
.page-numbers.next:hover {
  background-color: #0058d1;
  color: #fff;
  border-color: #0058d1;
}

/* Modal Background */
.modal {
  display: none;
  position: fixed;
  z-index: 1040;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__tag {
  border-radius: 20px;
  background: #e5f1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 17px;
  gap: 8px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}
.modal__type {
  color: #016fef;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
  padding-bottom: 20px;
}
.modal-content {
  background-color: #fff;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 30px;
  max-height: 92vh;
}
.modal__tag--text {
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 500;
}
.close-icon {
  color: #aaa;
  display: flex;
  justify-content: flex-end;
}

.close-icon:hover,
.close-icon:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .title {
  color: #262224;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  text-align: center;
}
.modal .title span {
  color: var(--primary-bg-color);
}
.modal .des {
  color: #a0a0a0 !important;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.modal .form-row {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
}
.modal .close-icon {
  padding: 20px 2px;
}
.modal .form-wrap {
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 100vh;
}
.modal .form-wrap::-webkit-scrollbar {
  width: 5px;
}

.modal .form-wrap::-webkit-scrollbar-thumb {
  background-color: var(--main-liner-color);
  border-radius: 10px;
}

.modal .form-wrap::-webkit-scrollbar-track {
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal .form-wrap::-webkit-scrollbar-button {
  display: none;
}

.modal .forminput {
  width: 100% !important;
  height: 48px !important;
  padding: 15px 16px !important;
  border-radius: 32px !important;
  background: #f9f9f9 !important;
  border: none !important;
  margin-top: 16px !important;
}
.modal .formdrown {
  width: 100% !important;
  height: 48px !important;
  padding: 2px 16px !important;
  border-radius: 12px !important;
  background: #f9f9f9 !important;
  border: none !important;
  margin-top: 16px !important;
}
.modal .forminputtext {
  width: 100% !important;
  height: 200px !important;
  padding: 15px 16px !important;
  border-radius: 12px !important;
  background: #f9f9f9 !important;
  border: none !important;
  margin-top: 16px !important;
}
.modal .input-data-wrap {
  margin-bottom: 30px !important;
}
.modal .form-input-lable {
  color: #212529 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
.modal .submit-with-svg {
  display: flex;
  padding: 14px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 39px;
  background: var(--main-liner-color);
  font-size: 14px;
  font-weight: 600;
  color: var(--light-text-color) !important;
  width: 231px;
  height: 48px;
  border: none;
}
.modal .cancel {
  display: flex;
  padding: 14px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 39px;
  font-size: 14px;
  font-weight: 600;
  width: 231px;
  height: 48px;
  border: 1px solid #a0a0a0;
  background-color: transparent;
  color: #818181 !important;
}

.wpcf7 input[type="file"] {
  cursor: pointer;
  display: flex;
  height: 36px;
  padding-left: 120px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  font-size: 14px;
}

.modal .file-upload-wrap {
  border-radius: 12px;
  background: #f9f9f9;
  display: flex;
  width: 525px;
  height: 261px;
  padding: 15px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.modal .file-upload-wrap-inner {
  display: flex;
  width: 417px;
  height: 204px;
  padding: 0px 9px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px dashed #c0c0ce;
}
.modal .file-upload-titile {
  font-size: 16px;
  font-weight: 500;
  color: #212529;
  margin-bottom: 10px;
  text-align: center;
}
.modal .file-upload-format {
  color: #b1b8c2;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}
.form-section .cancel {
  margin-bottom: 0px;
}
.form-section .cancel {
  margin-bottom: 0px;
}

.wpcf7-form-control-wrap[data-name="your-date"] input.wpcf7-form-control.wpcf7-date {
  border-radius: 12px;
  background-color: #f9f9f9;
  color: #212529;
  display: flex;
  width: 250px;
  height: 48px;
  padding: 15px 16px;
  border: none;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 15px;
}

.walcf7-timepicker {
  border-radius: 12px;
  background-color: #f9f9f9;
  color: #212529;
  display: flex;
  width: 250px;
  height: 48px;
  padding: 15px 16px;
  border: none;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 15px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}

.play-button svg {
  pointer-events: none;
}

@keyframes wave-animation {
  0% {
    transform: scale(0.8);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.play-button::before,
.play-button::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #497ff9;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

.play-button::before {
  animation: wave-animation 3s ease-out infinite;
}

.play-button::after {
  animation: wave-animation 3s ease-out 1.5s infinite;
}
/* section-pricing-hero */
.section-pricing-hero {
  padding-top: 130px;
}
.section-pricing-hero__title {
  color: #000;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.section-pricing-hero__des {
  color: #7f7f7f;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.section-pricing-packages__container {
  border-radius: 20px;
  border: 1px solid rgba(0, 34, 74, 0.17);
  background: rgba(244, 249, 255, 0.17);
  padding: 40px;
}
.section-pricing-packages__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.section-pricing-packages__tag--text {
  margin-bottom: 0px;
}
.section-pricing-packages__tag {
  border-radius: 20px;
  background: #e5f1ff;
  padding: 10px;
  gap: 8px;
  width: fit-content;
}
.section-pricing-packages__title {
  color: #016fef;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 30px;
}
.section-pricing-packages__des {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 15px;
}
.section-pricing-packages__des span {
  color: #016fef;
}
.section-pricing-packages__download {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 50px;
}
.section-pricing-packages__download--text {
  color: #016fef;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  cursor: pointer;
}
.section-pricing-packages__card {
  border-radius: 15px;
  border: 1px solid rgba(1, 111, 239, 0.5);
  background: rgba(1, 111, 239, 0.05);
  padding: 27px 25px;
}
.section-pricing-packages__card--icon {
  border-radius: 5px;
  background: #fff;
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-bottom: 18px;
}
.section-pricing-packages__card--title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 18px;
}
.section-pricing-packages__card--des {
  color: #5d5d5d;
  font-size: 16px;
  font-weight: 400;
}
/* section-single-blog */
.section-single-blog {
  padding-top: 130px;
}
.section-single-blog__title {
  color: #000;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 0px;
}
.section-single-blog__thumbnail img {
  width: 100%;
}
.section-single-blog__thumbnail {
  padding-top: 40px;
}
.section-single-blog__tag-wrap-row {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-single-blog__tag-wrap {
  border-radius: 23px;
  border: 1px solid #016fef;
  background: #eaf0ff;
  width: fit-content;
  padding: 8px 20px;
}

.section-single-blog__tag {
  margin-bottom: 0px;
  color: #407bff;
  font-size: 12px;
  font-weight: 400;
}
.section-single-blog__content {
  padding: 30px 0px;
}
.section-single-blog__content--blog-title {
  color: #000;
  font-size: 36px;
  margin-bottom: 0px;
  font-weight: 700;
  padding-top: 60px;
}
.section-single-blog__content h4 {
  padding-bottom: 30px;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 0px;
}
.section-single-blog__content p {
  padding-bottom: 30px;
  color: #202124;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-single-blog__read-time {
  color: #5d5d5d;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 30px;
}
.section-single-blog__details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section-single-blog__owner--name {
  color: #016fef;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}
.section-single-blog__owner--job-title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}
.section-single-blog__control-btn {
  display: flex;
  width: 230px;
  height: 48px;
  padding: 10px 7px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 10px;
  border: 2px solid #016fef;
  color: #016fef;
  background-color: #fff;
  text-decoration: none;
}
.section-single-blog__control-btn.active {
  border-radius: 10px;
  border: 2px solid #016fef;
  color: #fff;
  background: #016fef;
  text-decoration: none;
}
.section-single-blog__controls {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
}
.section-single-blog__share {
  cursor: pointer;
}
/* single page share modal */

.position-relative {
  position: relative;
}

.share-tooltip {
  display: none;
  position: absolute;
  top: -200px;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.share-tooltip button {
  margin-bottom: 5px;
  width: 100%;
}

.share-tooltip button i {
  margin-right: 5px;
}

/*  */
.section-single-blog__blog-list {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 40px 0px;
}

/* section-footers */
.section-footer {
  padding: 30px 0px;
}
.section-footer__footer-logo-wrap {
  padding-bottom: 30px;
}
.section-footer-des {
  color: #313131;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-footer__section--title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 50px;
}
.section-footer__quick-link-link-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-footer__quick-link-link-items {
  color: #313131;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  text-decoration: none;
  cursor: pointer;
}
.section-footer__contact-us-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section-footer__contact-wrap {
  display: flex;
  align-items: center;
  gap: 17px;
}
.section-footer__contact-icon-wrap {
  display: flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #e3f0ff;
}
.section-footer_contact-details--title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
}
.section-footer_contact-details--des {
  color: #313131;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-footer__footer-line {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #e9e9e9;
}
.section-footer__footer-bottom-text {
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 16px;
}
.section-footer__footer-logo {
  display: flex;
  gap: 31px;
  justify-content: center;
  align-items: center;
}
.section-footer__quick-link-link-items:hover {
  font-weight: 600;
}
/* tos-section */
.tos {
  padding-top: 130px;
}
.tos_list-point {
  padding-bottom: 40px;
}
.tos_title {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  display: block;
  color: #000;
  padding-bottom: 20px;
}
.tos_des {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.tos_list-title {
  color: #016fef;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 8px;
}
.tos_list-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--main-liner-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.tos_list-des-container {
  display: flex;
  gap: 25px;
  align-items: start;
}
.tos_list-des {
  color: #202124;
  font-size: 24px;
  font-weight: 500;
}

.tos_list-main {
  list-style: none;
  padding-left: 0;
}
.tos_list-main li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding-left: 30px;
  position: relative;
  font-size: 24px;
  color: #202124;
  font-weight: 500;
}
.tos_list-main li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><circle cx="7.5" cy="7.5" r="7.5" fill="%23016FEF" /></svg>')
    no-repeat center;
  background-size: contain;
}
.tos_list {
  list-style: none;
  padding-left: 0;
}

.tos_list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  padding-left: 25px;
  position: relative;
  color: #202124;
  font-size: 22px;
  font-weight: 500;
}

.tos_list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 15px;
  height: 15px;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%220%200%2019%2019%22%20fill%3D%22none%22%3E%3Cg%20clip-path%3D%22url(%23clip0_1784_1023)%22%3E%3Cpath%20d%3D%22M17.6777%209.5C17.6781%209.10337%2017.576%208.71336%2017.3814%208.36773C17.1869%208.02211%2016.9063%207.73258%2016.567%207.52717L5.85023%201.10675C5.50155%200.902819%205.10543%200.794014%204.7015%200.791223C4.29756%200.788433%203.89998%200.891754%203.54851%201.09085C3.19704%201.28995%202.90401%201.57785%202.69873%201.92574C2.49345%202.27364%202.38312%202.66933%202.37877%203.07325L2.37877%2015.918C2.38162%2016.3216%202.49029%2016.7174%202.69392%2017.0658C2.89756%2017.4142%203.18904%2017.7031%203.53926%2017.9037C3.88948%2018.1042%204.28618%2018.2094%204.68975%2018.2087C5.09333%2018.208%205.48965%2018.1014%205.83915%2017.8996L16.5631%2011.4744C16.9028%2011.2688%2017.1839%2010.9791%2017.3791%2010.6333C17.5743%2010.2874%2017.6772%209.89714%2017.6777%209.5Z%22%20fill%3D%22%23016FEF%22/%3E%3C/g%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_1784_1023%22%3E%3Crect%20width%3D%2219%22%20height%3D%2219%22%20fill%3D%22white%22%20transform%3D%22matrix(0%201%20-1%200%2019%200)%22/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E")
    no-repeat center;
  background-size: contain;
}
.tos__sub-point {
  padding-left: 30px;
}
.tos_list-bottom-text {
  color: #000;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px;
  font-weight: 500;
  padding-bottom: 50px;
}
.tos_list-bottom-text span {
  color: #016fef;
}
.tos_list-container {
  padding: 40px 30px;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
  margin-bottom: 100px;
}
/* section-benefit */
.section-benefit {
  padding: 90px 0px;
}

.section-benefit .benefit-card {
  border-radius: 20px;
  background: rgba(1, 111, 239, 0.08);
  padding: 30px;
  height: 400px;
  margin-top: 30px;
  display: flex;
}
.section-benefit .card-title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.section-benefit .card-title span {
  color: #016fef;
}
.section-benefit .card-des {
  color: #3a3535;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section-benefit .img-wrap img {
  width: 300px;
  height: 214px;
}
.section-benefit .img-wrap {
  display: flex;
  justify-content: end;
  padding-top: 60px;
  align-items: end;
}
.section-benefit .benefit-card-sm {
  border-radius: 20px;
  background: rgba(1, 111, 239, 0.08);
  padding: 30px;
  height: 400px;
  margin-top: 30px;
}
.section-benefit .img-wrap-sm img {
  width: 194px;
  height: 194px;
  display: flex;
  justify-content: end;
}
.section-benefit .img-wrap-sm {
  display: flex;
  justify-content: end;
}
.section-benefit .last-img {
  width: 400px !important ;
  height: auto !important;
}
