@charset "UTF-8";

body,
p,
li,
a,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  color: var(--primary-text-color);
}

html {
  scroll-behavior: smooth;
}
:root {
  --main-liner-color: linear-gradient(90deg, #87009f 0%, #1b59df 50%, #016fef 100%);
  --primary-text-color: #000;
  --secondary-text-color: #7f7f7f;
  --light-text-color: #fff;
  --primary-bg-color: #016fef;
}

.text-highlight {
  background: var(--main-liner-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.btn-highlight {
  /* display: inline-block; */
  padding: 10px 25px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-align: center;
  background: var(--main-liner-color);
}
.btn-highlight a {
  color: var(--light-text-color);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.block-highlight {
  display: block;
  text-align: center;
  background: var(--main-liner-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-bottom: 40px;
}
.tag-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}
.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--light-text-color);
}
.navbar .navbar-brand img {
  max-width: 189px;
  height: auto;
}
.nav-link {
  color: var(--primary-text-color) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 16px 0px 16px !important;
}
.nav-link.active {
  font-weight: 700;
}

/* section-hero */

.section-hero {
  padding-top: 130px;
}

.section-hero__title {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.section-hero__des {
  color: #7f7f7f;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 40px;
  margin-bottom: 0px;
}
.section-hero__button-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.section-hero__backgound-text-wrap {
  position: relative;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-hero__background-text {
  color: rgba(217, 217, 217, 0.4);
  text-align: center;
  font-size: 170px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-top: 120px;
}
.section-hero__video-frame {
  position: absolute;
  z-index: 2;
  width: 778px;
  height: auto;
  top: 3%;
}

.section-hero__experiance {
  width: 100%;
  display: flex;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding-bottom: 0px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.section-hero__experience--experience-section {
  flex: 1;
  border-right: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 15px;
}

.section-hero__experience--experience-section.extend_1 {
  flex: 1.2;
  border-left: none;
  display: flex;
  justify-content: end;
  align-items: end;
}

.section-hero__experience--experience-section.extend_2 {
  flex: 1.2;
  border-right: none;
}

.section-hero__experience-text {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-hero__experience-number {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-hero__experience-des {
  color: #7f7f7f;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
}

/* section-key-features */

.section-keyfeature {
  padding: 0px 0px 100px 0px;
}
.section-keyfeature__title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.section-keyfeature__des {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.section-keyfeature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 29px;
  border: 1px solid rgba(1, 111, 239, 0.17);
  background: #fff;
  border-radius: 20px;
  padding: 50px 0px 50px 0px;
}
.section-keyfeature__card-icon {
  height: 86px;
  width: auto;
}
.section-keyfeature__card-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-keyfeature__card-des {
  text-align: center;
}

/* section-pricing */

.section-pricing {
  margin: 80px 2%;
  padding: 40px 0px;
  border-radius: 20px;
  background: #016fef;
}
.section-pricing__pricing-row.active {
  display: flex;
}
.section-pricing__pricing-row {
  display: none;
}

.section-pricing__content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-pricing__tag-white-wrap {
  border-radius: 20px;
  background: #e5f1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5px 17.75px;
  gap: 8px;
  margin-bottom: 45px;
}
.pricing__title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 114.975%;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.pricing__des {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 38px;
}
.section-pricing__toggle-btn-wrap {
  display: flex;
  align-items: center;
  border-radius: 40px;
  background: #fff;
  margin-bottom: 45px;
  justify-content: center;
  padding: 4px;
}
.section-pricing__toggle-btn {
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  width: 240px;
}
.section-pricing__toggle-btn.active {
  background: var(--main-liner-color);
  display: flex;
  width: 240px;
  height: 70px;
  padding: 14px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 400;
  border-radius: 40px;
}
.section-pricing__pricing-card {
  width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.section-pricing__pricing-card.pro {
  border: 3px solid #fff;
  height: 530px;
  background: linear-gradient(180deg, #0035d5 0%, #002080 100%) !important;
}

.section-pricing__pricing-card--type {
  border-radius: 10px;
  border: 1px solid #016fef;
  background: #fff;
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: fit-content;
  margin-bottom: 16px;
}
.section-pricing__pricing-card--type.pro {
  background: var(--main-liner-color);
  border: 1px solid #fff;
}
.section-pricing__pricing-card--type-text {
  color: #016fef;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section-pricing__pricing-card--type-text.pro {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.section-pricing__pricing-card--des {
  color: #6f6f6f;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.section-pricing__pricing-card--des.pro {
  color: #fff;
}
.section-pricing__pricing-card--method {
  color: #000;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section-pricing__pricing-card--method.pro {
  color: #fff;
  font-weight: 600;
}
.section-pricing__pricing-card--method span {
  color: #b8b8b8;
  font-size: 13px;
  font-weight: 400;
}
.section-pricing__pricing-card--method.pro span {
  color: #fff;
}
.section-pricing__pricing-card--middle__line {
  border: 1px solid #dedede;
  margin-bottom: 16px;
}
.section-pricing__pricing-card--point {
  display: flex;
  gap: 30px;
  padding-bottom: 10px;
}
.section-pricing__pricing-card--point__text {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section-pricing__pricing-card--point__text.pro {
  color: #fff;
}
.section-pricing__pricing-card--bottom {
  border-radius: 10px;
  border: 2px solid #016fef;
  background: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.section-pricing__pricing-card--downlod {
  color: #016fef;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.section-pricing__pricing-card--downlod.pro {
  font-weight: 600;
}
/* faq */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
  margin-bottom: 30px;
}

.faq-card {
  background: #fff;
  padding: 40px 40px 20px 40px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.faq-card.active .faq-answer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-faq .question-text {
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
}
.faq-answer__answer-text {
  color: #fff;
  font-size: 16px !important;
  font-weight: 400;
  /* padding-bottom: 10px; */
}
.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  justify-content: space-between;
}

.arrow {
  transition: transform 0.3s ease;
  width: 14px;
  height: 14px;
}

.faq-card.active .arrow {
  transform: rotate(180deg);
}

.question-text {
  font-size: 20px;
  color: #000;
}
.answer-text {
  font-size: 18px;
  color: #000;
}
/* section-footers */
.section-footer {
  padding: 50px 0px 20px 0px;
}
.footer-setion__top-text {
  color: #016fef;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-footer__top-section {
  padding-bottom: 37px;
  align-items: center;
}
.section-footer__navbar-text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section-footer__middle-section {
  justify-content: space-between;
  padding-bottom: 20px;
}
.section-footer__inputs {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.section-footer__subscriber-input {
  min-height: 47px;
  border-radius: 10px;
  border: 1px solid #016fef;

  background: #fff;
}
.section-footer__subscriber-btn {
  display: flex;
  width: 108.916px;
  min-height: 47px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #016fef;

  background: #016fef;
}
.section-footer__subscriber-input:focus {
  border: 2px solid #016fef;
  outline: none;
}
.section-footer__subcriber-wrap {
  display: flex;
  gap: 9px;
}
.section-footer-socialmedia-wrap {
  display: flex;
  gap: 31px;
  padding-top: 22px;
}
.footer-section__bottom-line {
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.footer-section__bottom-line--text {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
}
.footer-section__bottom-line--text-wrap {
  display: flex;
  justify-content: center;
}

.nav-link.footer {
  padding: 0px 8px !important;
}
/* mobile-footer */

.section-footer__mobile {
  padding: 70px 0px 30px 0px;
}
.section-footer__mobile-sm-icon {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  justify-content: end;
}
.footer-mobile-logo {
  margin-bottom: 30px;
}
.section-footer__mobile-des {
  text-align: center;
  padding-bottom: 30px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.section-footer__mobile-nav {
  justify-content: center;
  padding-bottom: 30px;
}
.section-footer__mobile-footer-text {
  text-align: center;
  font-size: 18px;
  color: #016fef;
  font-weight: 500;
}
.section-footer__subcriber-wrap-mobile {
  flex-direction: column;
}
.section-footer__subscriber-input.mobile {
  width: 100%;
  margin-bottom: 10px;
}
.section-footer__subscriber-btn.mobile {
  width: 100%;
  margin-bottom: 20px;
}
