@charset "UTF-8";

body,
p,
li,
a,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  color: var(--primary-text-color);
}

html {
  scroll-behavior: smooth;
}
:root {
  --main-liner-color: linear-gradient(90deg, #1b59df 12.9%, #016fef 39.9%, #00baec 90.9%);
  --primary-text-color: #000;
  --secondary-text-color: #7f7f7f;
  --light-text-color: #fff;
  --primary-bg-color: #016fef;
}

.text-highlight {
  background: var(--main-liner-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.btn-highlight {
  /* display: inline-block; */
  padding: 10px 25px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-align: center;
  background: var(--main-liner-color);
}
.btn-highlight a {
  color: var(--light-text-color);
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.block-highlight {
  display: block;
  text-align: center;
  background: var(--main-liner-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tag {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-bottom: 40px;
}
.tag-name {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0px;
}
.navbar {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--light-text-color);
}
.navbar .navbar-brand img {
  max-width: 230px;
  height: auto;
}

.logo-footer-desktop {
  max-width: 200px;
  height: auto;
}
.nav-link {
  color: var(--primary-text-color) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0px 16px 0px 16px !important;
}
.nav-link.active {
  font-weight: 700;
}

/* section-hero */

.section-hero {
  padding-top: 130px;
}

.section-hero__title {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.section-hero__des {
  color: #7f7f7f;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 40px;
  margin-bottom: 0px;
}
.section-hero__button-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}
.section-hero__backgound-text-wrap {
  position: relative;
  padding-bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-hero__background-text {
  color: rgba(217, 217, 217, 0.4);
  text-align: center;
  font-size: 170px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-top: 120px;
}
.section-hero__video-frame {
  z-index: 2;
  width: 100%;
  height: 100%;
}

.video-wrappner-inner {
  position: relative;
  width: 778px;
  height: 452px;
}

.section-hero__video {
  z-index: 3;
  position: absolute;
  width: 76.6%;
  height: 82.2%;
  transform: translate(-50%, -50%);
  top: 48.3%;
  left: 49.8%;
  object-fit: fill;
}

.video-wrapper {
  position: absolute;
  height: auto;
  top: 3%;
}

.section-hero__experiance {
  width: 100%;
  display: flex;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  padding-bottom: 0px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  position: relative;
}

.section-hero__experience--experience-section {
  flex: 1;
  border-right: 1px solid #dedede;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 15px;
}

.section-hero__experience--experience-section.extend_1 {
  flex: 1.2;
  border-left: none;
  display: flex;
  justify-content: end;
  align-items: end;
}

.section-hero__experience--experience-section.extend_2 {
  flex: 1.2;
  border-right: none;
}

.section-hero__experience-text {
  color: #000;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0px;
}
.section-hero__experience-number {
  color: #000;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-hero__experience-des {
  color: #7f7f7f;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
}

/* section-key-features */

.section-keyfeature {
  padding: 0px 0px 100px 0px;
}
.section-keyfeature__title {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.section-keyfeature__des {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.section-keyfeature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 29px;
  border: 1px solid rgba(1, 111, 239, 0.17);
  background: #fff;
  border-radius: 20px;
  padding: 50px 0px 50px 0px;
}
.section-keyfeature__card-icon {
  height: 86px;
  width: auto;
}
.section-keyfeature__card-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-keyfeature__card-des {
  text-align: center;
}

/* section-pricing */

.section-pricing {
  margin: 80px 2%;
  padding: 40px 0px;
  border-radius: 20px;
  background: #016fef;
  position: relative;
}
.frame-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 202px;
  height: 335px;
}
.frame-2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 331px;
  height: 379px;
}
.frame-3 {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 202px;
  height: 335px;
}
.frame-4 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 331px;
  height: 379px;
}
.frame-6 {
  position: absolute;
  bottom: 0px;
  left: -5px;
  width: 110px;
  height: auto;
}
.frame-7 {
  position: absolute;
  top: 0px;
  right: -5px;
  width: 110px;
  height: auto;
}
.section-pricing__pricing-row.active {
  display: flex;
}
.section-pricing__pricing-row {
  display: none;
}
.section-pricing__svg {
  border-radius: 12.5px;
  background: rgba(111, 177, 255, 0.68);
  display: flex;
  width: 25px;
  height: 25px;
  padding: 7px;
  align-items: center;
}
.section-pricing__content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-pricing__tag-white-wrap {
  border-radius: 20px;
  background: #e5f1ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.5px 17.75px;
  gap: 8px;
  margin-bottom: 45px;
  z-index: 0;
}
.pricing__title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 114.975%;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
.pricing__des {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 38px;
}
.section-pricing__toggle-btn-wrap {
  display: flex;
  align-items: center;
  border-radius: 40px;
  background: #fff;
  margin-bottom: 45px;
  justify-content: center;
  padding: 4px;
}
.section-pricing__toggle-btn {
  border: none;
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  width: 240px;
}
.section-pricing__toggle-btn.active {
  background: var(--main-liner-color);
  display: flex;
  width: 240px;
  height: 70px;
  padding: 14px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #f3f3f3;
  font-size: 20px;
  font-weight: 400;
  border-radius: 40px;
}
.section-pricing__pricing-card {
  width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-radius: 20px;
  border: 1px solid #fff;
}

.section-pricing__pricing-card.pro {
  border: 3px solid #fff;
  height: 530px;
  background: linear-gradient(180deg, #0035d5 0%, #002080 100%) !important;
}

.section-pricing__pricing-card--type {
  border-radius: 10px;
  border: 1px solid #016fef;
  background: #fff;
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: fit-content;
  margin-bottom: 16px;
}
.section-pricing__pricing-card--type.pro {
  background: var(--main-liner-color);
  border: 1px solid #fff;
}
.section-pricing__pricing-card--type-text {
  color: #016fef;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section-pricing__pricing-card--type-text.pro {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.section-pricing__pricing-card--des {
  color: #6f6f6f;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.section-pricing__pricing-card--des.pro {
  color: #fff;
}
.section-pricing__pricing-card--method {
  color: #000;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section-pricing__pricing-card--method.pro {
  color: #fff;
  font-weight: 600;
}
.section-pricing__pricing-card--method span {
  color: #b8b8b8;
  font-size: 13px;
  font-weight: 400;
}
.section-pricing__pricing-card--method.pro span {
  color: #fff;
}
.section-pricing__pricing-card--middle__line {
  border: 1px solid #dedede;
  margin-bottom: 16px;
}
.section-pricing__pricing-card--point {
  display: flex;
  gap: 30px;
  padding-bottom: 18px;
}
.section-pricing__pricing-card--point__text {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-pricing__pricing-card--point__text.pro {
  color: #fff;
}
.section-pricing__pricing-card--bottom {
  border-radius: 10px;
  border: 2px solid #016fef;
  background: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.section-pricing__pricing-card--downlod {
  color: #016fef;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.section-pricing__pricing-card--downlod.pro {
  font-weight: 600;
}
/* faq */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
  margin-bottom: 30px;
}

.faq-card {
  background: #fff;
  padding: 40px 40px 20px 40px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.faq-card.active .faq-answer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.section-faq .question-text {
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
}
.faq-answer__answer-text {
  color: #fff;
  font-size: 16px !important;
  font-weight: 400;
  /* padding-bottom: 10px; */
}
.faq-question {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  justify-content: space-between;
}

.arrow {
  transition: transform 0.3s ease;
  width: 14px;
  height: 14px;
}

.faq-card.active .arrow {
  transform: rotate(180deg);
}

.question-text {
  font-size: 20px;
  color: #000;
}
.answer-text {
  font-size: 18px;
  color: #000;
}
/* section-footers */
.section-footer {
  padding: 50px 0px 20px 0px;
}
.footer-setion__top-text {
  color: #016fef;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-footer__top-section {
  padding-bottom: 37px;
  align-items: center;
}
.section-footer__navbar-text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0px;
}
.section-footer__middle-section {
  justify-content: space-between;
  padding-bottom: 20px;
}
.section-footer__inputs {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.section-footer__subscriber-input {
  min-height: 47px;
  border-radius: 10px;
  border: 1px solid #016fef;

  background: #fff;
}
.section-footer__subscriber-btn {
  display: flex;
  width: 108.916px;
  min-height: 47px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #016fef;

  background: #016fef;
}
.section-footer__subscriber-input:focus {
  border: 2px solid #016fef;
  outline: none;
}
.section-footer__subcriber-wrap {
  display: flex;
  gap: 9px;
}
.section-footer-socialmedia-wrap {
  display: flex;
  gap: 31px;
  padding-top: 22px;
}
.footer-section__bottom-line {
  border: 1px solid #d9d9d9;
  margin-bottom: 20px;
}

.footer-section__bottom-line--text {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
}
.footer-section__bottom-line--text-wrap {
  display: flex;
  justify-content: center;
}

.nav-link.footer {
  padding: 0px 8px !important;
}
/* mobile-footer */

.section-footer__mobile {
  padding: 70px 0px 30px 0px;
}
.section-footer__mobile-sm-icon {
  display: flex;
  gap: 15px;
  justify-content: end;
  height: 100%;
  align-items: center;
  padding-bottom: 30px;
}

.section-footer__mobile-sm-icon-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.footer-mobile-logo {
  padding-bottom: 30px;
  width: 200px;
  height: auto;
}
.section-footer__mobile-des {
  text-align: center;
  padding-bottom: 30px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.section-footer__mobile-nav {
  justify-content: center;
  padding-bottom: 30px;
}
.section-footer__mobile-footer-text {
  text-align: center;
  font-size: 18px;
  color: #016fef;
  font-weight: 500;
}
.section-footer__subcriber-wrap-mobile {
  flex-direction: column;
}
.section-footer__subscriber-input.mobile {
  width: 100%;
  margin-bottom: 10px;
}
.section-footer__subscriber-btn.mobile {
  width: 100%;
  margin-bottom: 20px;
}
/* blog */
.section-blog {
  padding: 70px 0px;
}
.section-blog__blog-thumbnail img {
  width: 100%;
}
.section-blog__blog-date {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 8px 0px 8px 0px;
}
.section-blog__blog-title {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.section-blog__blog-content {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.section-blog__blog-readmore {
  color: #016fef;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
  text-decoration: none;
}
/* section-blog-insights */
.section-blog-insights {
  padding-top: 130px;
}
.section-blog-insights__subscribe-input {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 50px;
}

.section-blog-insights__subscribe-input input {
  width: 100%;
  padding-right: 100px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  border: 1px solid #989898;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
}

.section-blog-insights__subscribe-input button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
}

.section-blog-insights__subscribe-input button:hover {
  background-color: #0056b3;
}
/*  section-blog-insights-list*/
.section-blog-insights-list {
  padding-top: 0px;
  margin-top: -3%;
}
.section-blog-insights-list__bg-text {
  font-size: 170px;
  font-weight: 500;
  text-align: center;
  color: #d9d9d966;
}
.section-blog-insight-list__latest-blog-thumbnail {
  width: 90%;
}

.section-blog-insights-list__latest-blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-blog-insight-list__blog-thumbnail {
  width: 100%;
}
.section-blog-insights__title {
  font-size: 64px;
  font-weight: 700;
  color: #000;
  padding-bottom: 30px;
  text-align: center;
  margin-bottom: 0px;
}
.section-blog-insights__des {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 50px;
  margin-bottom: 0px;
}
.section-blog-insights-list__blogcard-first-row {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 20px;
}

.section-blog-insights-list__latest-blog-date {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.section-blog-insights-list__latest-blog-read-more {
  font-size: 20px;
  font-weight: 600;
  color: #016fef;
  text-decoration: none;
  cursor: pointer;
}
.section-blog-insights-list__blogcard-second-row {
  width: 100%;
  padding: 0px 5% 10px 5%;
}
.section-blog-insights-list__latest-blog-title {
  font-size: 32px;
  color: #000;
  margin-bottom: 0px;
  padding-bottom: 7px;
  font-weight: 500;
}
.section-blog-insights-list__latest-blog-des {
  color: #000;
  font-size: 15px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.section-blog-insights-list__tag-wrap {
  border: 1px solid #016fef;
  padding: 8px 20px;
  background: #eaf0ff;
  border-radius: 23px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.section-blog-insights-list__tag {
  font-size: 12px;
  color: #407bff;
  margin-bottom: 0px;
  text-decoration: none;
}
.section-blog-insights-list__blogcard-third-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 5% 130px 5%;
}
.section-blog-insights-list__title-all {
  color: #000000;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 60px;
  margin-bottom: 0px;
}
.section-blog-insights-list__blog-date {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding: 20px 0px;
}

.section-blog-insights-list__blogcard-third-row.all-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
}
.section-blog-insights-list__blog-title {
  font-size: 24px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  font-weight: 500;
}
.section-blog-insights-list__blog-des {
  font-size: 12px;
  margin-bottom: 0px;
  color: #000;
  padding-bottom: 20px;
}
.section-blog-insights-list__blog-read-more {
  font-size: 15px;
  margin-bottom: 0px;
  color: #016fef;
  font-weight: 600;
  padding-top: 10px;
  text-decoration: none;
}

.section-blog-insights-list__blog-card {
  padding-bottom: 50px;
}

.section-blog-insights-list__blog-card.tagcard {
  padding-bottom: 50px;
  padding-top: 50px;
}

.section-blog-insights-list__pagination-number-wrap {
  width: 29px;
  height: 27px;
  background-color: #fff;
  border: 2px solid #016fef;
  padding: 2px;
  display: flex;
  justify-content: center;
  color: #016fef;
  size: 24px;
  margin: 5px;
  align-items: center;
  border-radius: 3px;
}
.section-blog-insights-list__pagination-number {
  color: #016fef;
  size: 24px;
  margin-bottom: 0px;
  font-weight: 500;
}
.section-blog-insights-list__pagination-number-wrap.active {
  width: 29px;
  height: 27px;
  background-color: #016fef;
  border: 2px solid #016fef;
  padding: 2px;
  display: flex;
  justify-content: center;
  color: #016fef;
  size: 24px;
  margin: 5px;
  align-items: center;
  border-radius: 3px;
}
.section-blog-insights-list__pagination-number.active {
  color: #fff;
  size: 24px;
  margin-bottom: 0px;
  font-weight: 500;
}

.section-blog-insights__tag {
  position: relative;
  padding: 60px 0px;
  background-color: #016fef;
  margin: 100px 0px 20px 0px;
}
.section-blog-insights__tag-title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.section-blog-insights-list__pagination-wrap {
  padding: 20px 0;
}

.page-numbers {
  display: inline-block;
  margin: 0 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
  color: #0b63e5;
  background-color: #fff;
  border: 2px solid #0b63e5;
  border-radius: 4px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.page-numbers.current {
  color: #fff;
  background-color: #0b63e5;
  border: 2px solid #0b63e5;
}

.page-numbers:hover {
  background-color: #f0f5ff;
  color: #0b63e5;
  border-color: #0b63e5;
}

.page-numbers.prev,
.page-numbers.next {
  font-weight: bold;
  background-color: #0b63e5;
  color: #fff;
  border-color: #0b63e5;
}

.page-numbers.prev:hover,
.page-numbers.next:hover {
  background-color: #0058d1;
  color: #fff;
  border-color: #0058d1;
}

/* Modal Background */
.modal {
  display: none;
  position: fixed;
  z-index: 1040;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 2% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 30px;
  max-height: 92vh;
}

.close-icon {
  color: #aaa;
  display: flex;
  justify-content: flex-end;
}

.close-icon:hover,
.close-icon:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal .title {
  color: #262224;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  text-align: center;
}
.modal .title span {
  color: var(--main-liner-color);
}
.modal .des {
  color: #a0a0a0 !important;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.modal .form-row {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
}
.modal .close-icon {
  padding: 20px 2px;
}
.modal .form-wrap {
  padding: 10px 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 100vh;
}
.modal .form-wrap::-webkit-scrollbar {
  width: 5px;
}

.modal .form-wrap::-webkit-scrollbar-thumb {
  background-color: var(--main-liner-color);
  border-radius: 10px;
}

.modal .form-wrap::-webkit-scrollbar-track {
  background: transparent;
  padding-top: 20px;
  padding-bottom: 20px;
}

.modal .form-wrap::-webkit-scrollbar-button {
  display: none;
}

.modal .forminput {
  width: 100% !important;
  height: 48px !important;
  padding: 15px 16px !important;
  border-radius: 32px !important;
  background: #f9f9f9 !important;
  border: none !important;
  margin-top: 16px !important;
}
.modal .formdrown {
  width: 100% !important;
  height: 48px !important;
  padding: 2px 16px !important;
  border-radius: 12px !important;
  background: #f9f9f9 !important;
  border: none !important;
  margin-top: 16px !important;
}
.modal .forminputtext {
  width: 100% !important;
  height: 200px !important;
  padding: 15px 16px !important;
  border-radius: 12px !important;
  background: #f9f9f9 !important;
  border: none !important;
  margin-top: 16px !important;
}
.modal .input-data-wrap {
  margin-bottom: 30px !important;
}
.modal .form-input-lable {
  color: #212529 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
.modal .submit-with-svg {
  display: flex;
  padding: 14px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 39px;
  background: var(--main-liner-color);
  font-size: 14px;
  font-weight: 600;
  color: var(--light-text-color) !important;
  width: 231px;
  height: 48px;
  border: none;
}
.modal .cancel {
  display: flex;
  padding: 14px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 39px;
  font-size: 14px;
  font-weight: 600;
  width: 231px;
  height: 48px;
  border: 1px solid #a0a0a0;
  background-color: transparent;
  color: #818181 !important;
}

.wpcf7 input[type="file"] {
  cursor: pointer;
  display: flex;
  height: 36px;
  padding-left: 120px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  font-size: 14px;
}

.modal .file-upload-wrap {
  border-radius: 12px;
  background: #f9f9f9;
  display: flex;
  width: 525px;
  height: 261px;
  padding: 15px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.modal .file-upload-wrap-inner {
  display: flex;
  width: 417px;
  height: 204px;
  padding: 0px 9px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px dashed #c0c0ce;
}
.modal .file-upload-titile {
  font-size: 16px;
  font-weight: 500;
  color: #212529;
  margin-bottom: 10px;
  text-align: center;
}
.modal .file-upload-format {
  color: #b1b8c2;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 16px;
}
.form-section .cancel {
  margin-bottom: 0px;
}
.form-section .cancel {
  margin-bottom: 0px;
}

.wpcf7-form-control-wrap[data-name="your-date"] input.wpcf7-form-control.wpcf7-date {
  border-radius: 12px;
  background-color: #f9f9f9;
  color: #212529;
  display: flex;
  width: 250px;
  height: 48px;
  padding: 15px 16px;
  border: none;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 15px;
}

.walcf7-timepicker {
  border-radius: 12px;
  background-color: #f9f9f9;
  color: #212529;
  display: flex;
  width: 250px;
  height: 48px;
  padding: 15px 16px;
  border: none;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 15px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}

.play-button svg {
  pointer-events: none;
}

@keyframes wave-animation {
  0% {
    transform: scale(0.8);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.play-button::before,
.play-button::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #497ff9;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: -1;
}

.play-button::before {
  animation: wave-animation 3s ease-out infinite;
}

.play-button::after {
  animation: wave-animation 3s ease-out 1.5s infinite;
}
/* section-pricing-hero */
.section-pricing-hero {
  padding-top: 130px;
}
.section-pricing-hero__title {
  color: #000;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 0px;
  padding-bottom: 40px;
}
.section-pricing-hero__des {
  color: #7f7f7f;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  padding-bottom: 60px;
}
.section-pricing-packages__container {
  border-radius: 20px;
  border: 1px solid rgba(0, 34, 74, 0.17);
  background: rgba(244, 249, 255, 0.17);
  padding: 40px;
}
.section-pricing-packages__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.section-pricing-packages__tag--text {
  margin-bottom: 0px;
}
.section-pricing-packages__tag {
  border-radius: 20px;
  background: #e5f1ff;
  padding: 10px;
  gap: 8px;
  width: fit-content;
}
.section-pricing-packages__title {
  color: #016fef;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 30px;
}
.section-pricing-packages__des {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 15px;
}
.section-pricing-packages__des span {
  color: #016fef;
}
.section-pricing-packages__download {
  display: flex;
  justify-content: center;
  gap: 28px;
  margin-bottom: 50px;
}
.section-pricing-packages__download--text {
  color: #016fef;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
  cursor: pointer;
}
.section-pricing-packages__card {
  border-radius: 15px;
  border: 1px solid rgba(1, 111, 239, 0.5);
  background: rgba(1, 111, 239, 0.05);
  padding: 27px 25px;
}
.section-pricing-packages__card--icon {
  border-radius: 5px;
  background: #fff;
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-bottom: 18px;
}
.section-pricing-packages__card--title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 18px;
}
.section-pricing-packages__card--des {
  color: #5d5d5d;
  font-size: 16px;
  font-weight: 400;
}
/* section-single-blog */
.section-single-blog {
  padding-top: 130px;
}
.section-single-blog__title {
  color: #000;
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 0px;
}
.section-single-blog__thumbnail img {
  width: 100%;
}
.section-single-blog__thumbnail {
  padding-top: 40px;
}
.section-single-blog__tag-wrap-row {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-single-blog__tag-wrap {
  border-radius: 23px;
  border: 1px solid #016fef;
  background: #eaf0ff;
  width: fit-content;
  padding: 8px 20px;
}

.section-single-blog__tag {
  margin-bottom: 0px;
  color: #407bff;
  font-size: 12px;
  font-weight: 400;
}
.section-single-blog__content {
  padding: 30px 0px;
}
.section-single-blog__content--blog-title {
  color: #000;
  font-size: 36px;
  margin-bottom: 0px;
  font-weight: 700;
  padding-top: 60px;
}
.section-single-blog__content h4 {
  padding-bottom: 30px;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 0px;
}
.section-single-blog__content p {
  padding-bottom: 30px;
  color: #202124;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0px;
}
.section-single-blog__read-time {
  color: #5d5d5d;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 30px;
}
.section-single-blog__details {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section-single-blog__owner--name {
  color: #016fef;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}
.section-single-blog__owner--job-title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
}
.section-single-blog__control-btn {
  display: flex;
  width: 230px;
  height: 48px;
  padding: 10px 7px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 10px;
  border: 2px solid #016fef;
  color: #016fef;
  background-color: #fff;
  text-decoration: none;
}
.section-single-blog__control-btn.active {
  border-radius: 10px;
  border: 2px solid #016fef;
  color: #fff;
  background: #016fef;
  text-decoration: none;
}
.section-single-blog__controls {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
}
.section-single-blog__share {
  cursor: pointer;
}
/* single page share modal */

.position-relative {
  position: relative;
}

.share-tooltip {
  display: none;
  position: absolute;
  top: -200px;
  right: 0;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.share-tooltip button {
  margin-bottom: 5px;
  width: 100%;
}

.share-tooltip button i {
  margin-right: 5px;
}

/*  */
.section-single-blog__blog-list {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 40px 0px;
}
